@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator-button {
  border: none;
  line-height: 1;
  overflow: hidden;
  display: inline-block;
  width: 44px;
  height: 44px;
  content: "";
  font-size: 40px;
  color: white;
  background: #61d5a7;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: lighter;
  padding-bottom: 4px;
}

@layer components {
  .apply-button {
    @apply bg-zmarta-green hover:bg-zmarta-green/90 text-white font-bold py-4 px-4 rounded-full w-full justify-between flex;
  }
}